<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">

</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="blog-page blog-content-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="blog-single-content bordered blog-container">
                <div class="blog-single-head">
                    <h1 class="blog-single-head-title">The Museum of Modern Art</h1>
                    <div class="blog-single-head-date">
                        <i class="icon-calendar font-blue"></i>
                        <a href="javascript:;">Art museum in New York City, New York</a>
                    </div>
                </div>
                <div class="blog-single-img">
                    <img src="../assets/img/mo.jpeg" style="height: 200px;"/></div>
                <div class="blog-single-desc">
                    <p>The Museum of Modern Art is an art museum located in Midtown Manhattan, New York City, on 53rd
                        Street between Fifth and Sixth Avenues. MoMA plays a major role in developing and collecting
                        modern art, and is often identified as one of the largest and most influential museums of modern
                        art in the world. <a>Wikipedia</a></p>
                    <div class="m-widget13">
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Address:
												</span>
                            <span class="m-widget13__text m-widget13__text-bolder" style="width: 90%">
													11 W 53rd St, New York, NY 10019
												</span>
                        </div>
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Hours:
												</span>
                            <span class="m-widget13__text m-widget13__text-bolder" style="width: 90%">
													(Monday - Thursday, Sunday)Open 10:00AM - Closes 5:30PM
                                                    (Friday, Saturday)Open 10:00AM - Closes 9:00PM
												</span>
                        </div>
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Phone:
												</span>
                            <span class="m-widget13__text m-widget13__text-bolder" style="width: 90%">
												(212) 708-9400
                            </span>
                        </div>
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Director:
												</span>
                            <span class="m-widget13__text m-widget13__text-bolder" style="width: 90%">
													Glenn Lowry
												</span>
                        </div>
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Founded:
												</span>
                            <span class="m-widget13__text m-widget13__text-bolder" style="width: 90%">
													November 7, 1929
												</span>
                        </div>
                        <div class="m-widget13__item">
												<span class="m-widget13__desc m--align-right" style="width: 10%">
													Architects:
												</span>
                            <span class="m-widget13__text m-widget13__number-bolder m--font-brand" style="width: 90%">
													Yoshio Taniguchi, Edward Durell Stone, Philip Goodwin
												</span>
                        </div>
                        <!--<div class="m-widget13__action m&#45;&#45;align-right">
                            <button type="button" class="m-widget__detalis  btn m-btn&#45;&#45;pill  btn-accent">
                                Detalis
                            </button>
                            <button type="button" class="btn m-btn&#45;&#45;pill    btn-secondary">
                                Update
                            </button>
                        </div>-->
                    </div>
                </div>
                <div class="blog-single-foot">
                    <ul class="blog-post-tags">
                        <li class="uppercase">
                            <a href="javascript:;">Ticket</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">Map</a>
                        </li>
                        <!--<li class="uppercase">
                            <a href="javascript:;">Top</a>
                        </li>-->
                    </ul>
                </div>
                <!--<div class="blog-comments">
                    <h3 class="sbold blog-comments-title">Comments(30)</h3>
                    <div class="c-comment-list">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" alt="" src="../assets/pages/img/avatars/team1.jpg"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#">Sean</a> on
                                    <span class="c-date">23 May 2015, 10:40AM</span>
                                </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                turpis.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" alt="" src="../assets/pages/img/avatars/team3.jpg"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#">Strong Strong</a> on
                                    <span class="c-date">21 May 2015, 11:40AM</span>
                                </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                turpis.
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" alt=""
                                                 src="../assets/pages/img/avatars/team4.jpg"> </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#">Emma Stone</a> on
                                            <span class="c-date">30 May 2015, 9:40PM</span>
                                        </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                                        viverra turpis.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" alt="" src="../assets/pages/img/avatars/team7.jpg"> </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#">Nick Nilson</a> on
                                    <span class="c-date">30 May 2015, 9:40PM</span>
                                </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                turpis.
                            </div>
                        </div>
                    </div>
                    <h3 class="sbold blog-comments-title">Leave A Comment</h3>
                    <form action="#">
                        <div class="form-group">
                            <input type="text" placeholder="Your Name" class="form-control c-square"></div>
                        <div class="form-group">
                            <input type="text" placeholder="Your Email" class="form-control c-square"></div>
                        <div class="form-group">
                            <input type="text" placeholder="Your Website" class="form-control c-square"></div>
                        <div class="form-group">
                            <textarea rows="8" name="message" placeholder="Write comment here ..."
                                      class="form-control c-square"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
        <!--<div class="col-lg-3">
            <div class="blog-single-sidebar bordered blog-container">
                <div class="blog-single-sidebar-search">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control" placeholder="Search Blog"></div>
                </div>
                <div class="blog-single-sidebar-recent">
                    <h3 class="blog-sidebar-title uppercase">Recent Posts</h3>
                    <ul>
                        <li>
                            <a href="javascript:;">Metronic Admin Progress</a>
                        </li>
                        <li>
                            <a href="javascript:;">New UI Features</a>
                        </li>
                        <li>
                            <a href="javascript:;">Lorem Ipsum Dolore Amet</a>
                        </li>
                        <li>
                            <a href="javascript:;">Userfull Pages Released</a>
                        </li>
                    </ul>
                </div>
                <div class="blog-single-sidebar-tags">
                    <h3 class="blog-sidebar-title uppercase">Tags</h3>
                    <ul class="blog-post-tags">
                        <li class="uppercase">
                            <a href="javascript:;">Bootstrap</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">Sass</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">HTML</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">CSS</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">Gulp</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">Framework</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">Admin Theme</a>
                        </li>
                        <li class="uppercase">
                            <a href="javascript:;">UI Features</a>
                        </li>
                    </ul>
                </div>
                <div class="blog-single-sidebar-links">
                    <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
                    <ul>
                        <li>
                            <a href="javascript:;">Lorem Ipsum </a>
                        </li>
                        <li>
                            <a href="javascript:;">Dolore Amet</a>
                        </li>
                        <li>
                            <a href="javascript:;">Metronic Database</a>
                        </li>
                        <li>
                            <a href="javascript:;">UI Features</a>
                        </li>
                        <li>
                            <a href="javascript:;">Advanced Forms</a>
                        </li>
                    </ul>
                </div>
                <div class="blog-single-sidebar-ui">
                    <h3 class="blog-sidebar-title uppercase">UI Examples</h3>
                    <div class="row ui-margin">
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/1.jpg"/>
                            </a>
                        </div>
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/37.jpg"/>
                            </a>
                        </div>
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/57.jpg"/>
                            </a>
                        </div>
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/53.jpg"/>
                            </a>
                        </div>
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/59.jpg"/>
                            </a>
                        </div>
                        <div class="col-xs-4 ui-padding">
                            <a href="javascript:;">
                                <img src="../assets/pages/img/background/42.jpg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>